#u102-4,#u115-8,#u105-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3094-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3096-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3102-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3131-4
{
	font-family: amaranth-n7, sans-serif;
}

