#u102-4,#u115-8,#u105-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2846-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2854-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2848-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2868-4
{
	font-family: amaranth-n7, sans-serif;
}

#u2862-4,#u2863-4,#u2864-4,#u2939-4,#u2946-4
{
	font-family: amaranth-n4, sans-serif;
}

