#u102-4,#u115-8,#u105-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3444-4
{
	font-family: amaranth-n7, sans-serif;
}

#u3446-4,#u3822-4,#u3432-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3434-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3427-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3464-4,#u3440-4
{
	font-family: amaranth-n7, sans-serif;
}

#u3439-4,#u3664-4,#u3669-4,#u3671-4,#u3673-4,#u3675-4,#u3670-4,#u3672-4,#u3674-4,#u3676-4,#u3780-4,#u3726-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3727-3
{
	font-family: amaranth-n4, sans-serif;
}

#u3730-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3731-3
{
	font-family: amaranth-n4, sans-serif;
}

#u3729-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3720-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3722-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3721-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3719-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3718-3
{
	font-family: amaranth-n4, sans-serif;
}

#u3717-4
{
	font-family: amaranth-n4, sans-serif;
}

#widgetu3724_input,#widgetu3728_input,#widgetu3716_input
{
	font-family: amaranth, sans-serif;
}

