#u102-4,#u115-8,#u105-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2266-4,#u2231-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2240-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2233-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2265-4
{
	font-family: amaranth-n7, sans-serif;
}

#u2273-4,#u2280-4,#u2287-4,#u2300-6,#u2954-4
{
	font-family: amaranth-n4, sans-serif;
}

