#u102-4,#u115-8,#u105-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2125-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2127-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2129-4
{
	font-family: amaranth-n4, sans-serif;
}

#u2510-4
{
	font-family: amaranth-n7, sans-serif;
}

#u2690-4,#u2699-4,#u2903-6,#u2906-4,#u2598-4,#u2771-5,#u2726-4,#u2681-4,#u2708-4,#u2717-4,#u2753-4,#u2762-4
{
	font-family: amaranth-n4, sans-serif;
}

