#u102-4,#u115-8,#u105-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3308-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3303-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3305-4
{
	font-family: amaranth-n4, sans-serif;
}

#u3287-4
{
	font-family: amaranth-n7, sans-serif;
}

