#u93
{
	background-color: #FFFFFF;
}

#u94
{
	background-color: #000000;
}

#u94_align_to_page
{
	position: relative;
}

#u3791
{
	background-color: transparent;
	position: relative;
}

#u102-4
{
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: amaranth, sans-serif;
	font-weight: 400;
	position: relative;
}

#u115-8
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: amaranth, sans-serif;
	font-weight: 400;
	position: relative;
}

#u105-4
{
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	color: #FFFFFF;
	line-height: 12px;
	font-family: amaranth, sans-serif;
	font-weight: 400;
	position: relative;
}

